# Database
DATABASE_URL="postgresql://userid:password@localhost:5432/creations_showcase?schema=public"

TEST_DATABASE_URL="postgresql://userid:password@localhost:5432/test_creations_showcase?schema=public"

# Cloudinary API values (free with a user account)
CLOUDINARY_NAME="cloudinary name here"
CLOUDINARY_API_KEY="api key here"
CLOUDINARY_API_SECRET="api secret here"

# bcrypt hash salt value, choose any number up to 10
HASH_SALT=9

# JWT Secret (use any random value over 32 characters long)
JWT_SECRET="secret here"